@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #e6e4dc 0%, #e6e4e0 100%);
    --foreground: #000000;
  }
}
.container{
  max-width: 1320px;
  margin: 0 auto;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-section{
  background-image: url('../public/cover/cover3.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  /* width: 90vw; */
  /* opacity: 0.8; */
  margin: 0 auto;
  z-index: -100;
  cursor: pointer;
}
.logo{
  background-image: url("../public/logo/logo.png");
  z-index: 50;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 80px;
  font: bold;

}
.logo:hover{
  scale: 1.1;
}

.menu{
  text-align: center;
  margin: auto auto;
  margin-top: 30px;
  /* transform: translateY(-50%); */
  z-index: 60;
  
}
ul li{
  font-size: 26px;
  padding: 5px;
  gap: 50px;
  margin: 0 8px;
  font-weight: bold;
  color: #afd1c4;
  
}
li:active{
  text-decoration: dotted 2px rgb(10, 8, 8);
}