@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #e6e4dc 0%, #e6e4e0 100%);
    --foreground: #000000;
  }
}
.container{
  max-width: 1320px;
  margin: 0 auto;

}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-section{
  background-image: url('../public/cover/cover4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}
.logo{
  background-image: url("../public/logo/logo.png");
  z-index: 50;
  background-repeat: no-repeat;
  background-size: cover;
}