@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"); */

:root {
  --background: #000000;
  --foreground: #171717;
}
.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #e6e4dc 0%, #e6e4e0 100%);
    --foreground: #000000;
  }
}
.container{
  max-width: 1320px;
  margin: 0 auto;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
.menubar-section{
  background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../public/cover/cover4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  margin: 0 auto;
  z-index: -100;
  cursor: pointer;
}
header{
  height: 6em;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

.logo{
  background-image: url("../../public/logo/logo.png");
  z-index: 50;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 80px;
  font: bold;
}
.logo:hover{
  scale: 1.1;
}

.menu{
  text-align: center;
  margin: auto auto;
  margin-top: 30px;
  z-index: 60;
}
ul li{
  font-size: 26px;
  padding: 5px;
  gap: 60px;
  margin: 0 8px;
  font-weight: 600;
  color: #b0ecdb;
  transition: color 0.4s ease-in-out;
}
li:active{
  text-decoration: dotted 2px rgb(10, 8, 8);
}
.search-input{
  width: 150px;
  height: 30px;
  padding: 2em;
  z-index: 100;
}
li.active{
  color: red;
  text-decoration: underline;
}
li::after{
  content: "";
  position: absolute;
  background-color: #ff7900;
  height: 3px;
  width: 0;
  left:0;
  bottom: 0px;
  transition: 0.3s;
}
a:hover{
  color: #b0ecdb;
}
li:hover::after{
  width: 100%;
}